* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #654F6F;
  font-family: 'K2D', sans-serif;
  overflow: hidden;
}


/* SEKCJA POCZATKOWA */



.front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #B6A6CA;
}

.front-page__logo {
  font-size: 96px;

}

.front-page__header {
  display: flex;
  align-items: center;
  z-index: 1000;
}



.front-page__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 60px 0px;
}


.front-page__title {
  font-size: 19px;
}



/* KONIEC SEKCJI POCZAKOWEJ  */





/* SEKCJA SFERY */

.front-page__Sphere {
  width: 80vh;
  height: 80vh;
  display: flex;
  margin: 0;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
  transition: margin-top 2s ease-in-out;

}


@keyframes move-eye-skew {
  0% {
    transform: none;
  }

  20% {
    transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
  }

  25%,
  44% {
    transform: none;
  }

  50%,
  60% {
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
  }

  66%,
  100% {
    transform: none;
  }
}

@keyframes move-eye-skew2 {
  0% {
    transform: none;
  }

  20% {
    transform: translateX(-80px) translateY(120px) scale(0.95);
  }

  25%,
  34% {
    transform: translateY(160px) scale(0.95);
  }

  40%,
  50% {
    transform: translateX(130px) translateY(160px) scale(0.95);
  }

  56%,
  60% {
    transform: translateX(80px) translateY(40px) scale(0.95);

  }

  70%,
  80% {
    transform: translateX(-120px) translateY(20px) scale(0.95);
  }

  85%,
  100% {
    transform: none;
  }
}




.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #553555 100%);
}



.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #B6A6CA 0%, #553555 30%, #654F6F 100%);
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  animation: move-eye-skew 5s ease-out infinite;
}

.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 50%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}

.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}




/* KONIEC SEKCJI SFERY */




/* SEKCAJ PYTAN I ODPOWIEDZI */


.secondSection {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 2s;
}



.question-page__question-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.question-page__question-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B6A6CA;
  width: 430px;
  border-radius: 8px;
}

.question-page__clearButton {
  border-color: transparent;
  background-color: transparent;
  color: #553555;
  font-weight: 200;
}


.question-input {
  padding: 8px;
  width: 400px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #B6A6CA;
  outline: transparent;
  color: #553555;

}
.question-page__answer::-webkit-scrollbar {
  display: none;
}




.question-page__answer {
  padding: 10px;
  margin: 1rem auto;
  height: 400px;
  width: 600px;
  border-radius: 8px;
  background-color: #B6A6CA;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  color: #553555;
 overflow: auto;
 -ms-overflow-style: none; 
 scrollbar-width: none;
}




.tellme-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.tellme-firstButton {
  border-radius: 8px;
  background-color: #553555;
  color: white;
  padding: 8px 40px;
  border-block-color: #B6A6CA;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}


.tellme-secondButton {
  border-radius: 8px;
  background-color: #553555;
  color: white;
  padding: 8px 40px;
  border-block-color: #B6A6CA;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}


/* KONIEC SECKJI PYTAN I ODPOWIEDZI  */




/* ANIMOWANE MENU  */




.menu__input {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 32px;
  right: 32px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1001;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  z-index: 1000;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #B6A6CA;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition: .5s ease-in-out;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #553555;
  font-size: 20px;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}



/* KONIEC ANIMOWANEGO MENU  */

.question-text {
  width: 500px;
  background-color: #654F6F;
  color: white;
  border-radius: 1px 8px 8px;
  margin: 6px 0px;
  padding: 8px;
}

.textBox {
  width: 500px;
  background-color: white;
  border-radius: 8px 1px 8px 8px;
  margin: 6px 80px;
  padding: 8px;
}

.scrollDownButton{
  background: transparent;
  border: none;
  color: white;
}